@charset "utf-8";

body {

}

#app {
    width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

table {
    border: 1px solid #000;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
}

tr:first-child {
    background: skyblue;
}

th {
    border: 1px solid #000;
    width: 100px;
}

td {
    border: 1px solid #000;
    width: 100px;
}

.btn_wrap {
    width: 800px;
    text-align: right;
    padding: 10px 0;
}

